@model IEnumerable<Biblioteca.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLibroNavigation.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation.NombreUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLibroNavigation.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrestamo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrestamo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrestamo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
