@model Biblioteca.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoCivilNavigation.NombreEstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoCivilNavigation.NombreEstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGeneroNavigation.NombreGenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGeneroNavigation.NombreGenero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsersRolNavigation.NombreUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsersRolNavigation.NombreUsers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
